@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root{
    --white:white;
    --shadow-very-dark: 4px 8px 16px rgba(0, 0, 0, 0.3);
    --border-very-light: #dfd7d7bb;
    --color-primary: #ef3f5a;
    // --background-primary:v

    --text-color-light: rgb(161, 152, 152);

}

a{
    text-decoration: none;
}