.transaction{

    .title{
        color: blue;
    }

    .td-date{
        width: 120px;
    }

    .td-description{
        width: 300px;
    }

    .td-value{
        width: 100px;
        text-align: right;
    }

}